@font-face {
  font-family: "iconfont"; /* Project id 4540058 */
  src: url('iconfont.woff2?t=1715268580447') format('woff2'),
       url('iconfont.woff?t=1715268580447') format('woff'),
       url('iconfont.ttf?t=1715268580447') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanzhu:before {
  content: "\e723";
}

.icon-hulve:before {
  content: "\e724";
}

.icon-fuwuqi:before {
  content: "\e725";
}

.icon-daishenhe:before {
  content: "\e726";
}

.icon-zhongduan:before {
  content: "\e727";
}

.icon-hexinzichan:before {
  content: "\e728";
}

.icon-yishenhe:before {
  content: "\e729";
}

.icon-wangluoshebei:before {
  content: "\e72a";
}

.icon-quanbuzichan:before {
  content: "\e72b";
}

.icon-gongjizhe:before {
  content: "\e72c";
}

.icon-shouhaizhe:before {
  content: "\e72d";
}

.icon-zhongwei:before {
  content: "\e72e";
}

.icon-gaowei:before {
  content: "\e72f";
}

.icon-diwei:before {
  content: "\e730";
}

.icon-daichuzhishijianzongshu:before {
  content: "\e731";
}

.icon-wakuang:before {
  content: "\e732";
}

.icon-shijianzongshu:before {
  content: "\e733";
}

.icon-shixianzhujigeshu:before {
  content: "\e734";
}

.icon-APTshijian:before {
  content: "\e735";
}

.icon-yichangliuliang:before {
  content: "\e736";
}

.icon-jiangshizhuji:before {
  content: "\e737";
}

.icon-weixieqingbao:before {
  content: "\e738";
}

.icon-eyichengxu:before {
  content: "\e739";
}

.icon-siyoudizhi:before {
  content: "\e73a";
}

.icon-WEBweihu:before {
  content: "\e73b";
}

.icon-zhenchagenzong:before {
  content: "\e73c";
}

.icon-wuqigoujian:before {
  content: "\e73d";
}

.icon-zaihetoudi:before {
  content: "\e73e";
}

.icon-loudongliyong:before {
  content: "\e73f";
}

.icon-anzhuangzhiru:before {
  content: "\e740";
}

.icon-minglingyukongzhi:before {
  content: "\e741";
}

.icon-mubiaodacheng:before {
  content: "\e742";
}

.icon-henjiqingli:before {
  content: "\e743";
}

.icon-caigoutaizhang:before {
  content: "\e611";
}

.icon-chukujilu:before {
  content: "\e612";
}

.icon-daimashengcheng:before {
  content: "\e613";
}

.icon-chanpinku:before {
  content: "\e614";
}

.icon-dingshirenwu:before {
  content: "\e615";
}

.icon-caigourenwu:before {
  content: "\e616";
}

.icon-rukujilu:before {
  content: "\e617";
}

.icon-kefugongdanguanli:before {
  content: "\e618";
}

.icon-huancunjiankong:before {
  content: "\e619";
}

.icon-caigoushenqing:before {
  content: "\e61a";
}

.icon-biaodangoujian:before {
  content: "\e61b";
}

.icon-kucunguanli:before {
  content: "\e61c";
}

.icon-fahuoshenqing:before {
  content: "\e61d";
}

.icon-ruanjianbanbenguanli:before {
  content: "\e61e";
}

.icon-yuliaoguanli:before {
  content: "\e61f";
}

.icon-shouhoufuwudan:before {
  content: "\e620";
}

.icon-xitongjiekou:before {
  content: "\e621";
}

.icon-kucunpandian:before {
  content: "\e622";
}

.icon-shenpizhongxin:before {
  content: "\e623";
}

.icon-huancunliebiao:before {
  content: "\e624";
}

.icon-shebeishengmingzhouqi:before {
  content: "\e625";
}

.icon-wuliufeiyongguanli:before {
  content: "\e626";
}

.icon-yuanqijianguanli:before {
  content: "\e627";
}

.icon-wuliushenqing:before {
  content: "\e628";
}

.icon-jiesuanguanli:before {
  content: "\e629";
}

.icon-yanshouguanli:before {
  content: "\e62a";
}

.icon-yanfarenwu:before {
  content: "\e62b";
}

.icon-wendaxiangqing:before {
  content: "\e62c";
}

.icon-shengchanrenwu:before {
  content: "\e62d";
}

.icon-shengchanshenqing:before {
  content: "\e62e";
}

.icon-zaixianyonghu:before {
  content: "\e62f";
}

.icon-gongyingshangguanli:before {
  content: "\e630";
}

.icon-shenpishezhi:before {
  content: "\e631";
}

.icon-jinhuodanguanli:before {
  content: "\e632";
}

.icon-shujujiankong:before {
  content: "\e633";
}

.icon-fuwujiankong:before {
  content: "\e634";
}

.icon-jiqirenshezhi:before {
  content: "\e635";
}

.icon-shouhoufeiyongshenqing:before {
  content: "\e636";
}

.icon-shouhoufuwushenqing:before {
  content: "\e637";
}

.icon-tuihuoshenqing:before {
  content: "\e638";
}

